[submodule "functional-programming"]
	path = functional-programming
	url = https://github.com/rsvinicius/functional-programming
[submodule "clean-code"]
	path = clean-code
	url = git@github.com:rsvinicius/clean-code.git
[submodule "structural-design-patterns"]
	path = structural-design-patterns
	url = git@github.com:rsvinicius/structural-design-patterns.git
[submodule "behavioral-design-patterns"]
	path = behavioral-design-patterns
	url = git@github.com:rsvinicius/behavioral-design-patterns.git
[submodule "spring-jms-activemq-demo"]
	path = spring-jms-activemq-demo
	url = git@github.com:rsvinicius/spring-jms-activemq-demo.git
[submodule "spring-ff4j-redis-demo"]
	path = spring-ff4j-redis-demo
	url = git@github.com:rsvinicius/spring-ff4j-redis-demo.git
[submodule "spring-webflux-mongodb-demo"]
	path = spring-webflux-mongodb-demo
	url = git@github.com:rsvinicius/spring-webflux-mongodb-demo.git
[submodule "spring-ff4j-webconsole-demo"]
	path = spring-ff4j-webconsole-demo
	url = git@github.com:rsvinicius/spring-ff4j-webconsole-demo.git
[submodule "spring-ai-demo"]
	path = spring-ai-demo
	url = https://github.com/rsvinicius/spring-ai-demo.git
