[submodule "functional-programming"]
	path = functional-programming
	url = git@github.com:rsvinicius/functional-programming.git
[submodule "clean-code"]
	path = clean-code
	url = git@github.com:rsvinicius/clean-code.git
[submodule "structural-design-patterns"]
	path = structural-design-patterns
	url = git@github.com:rsvinicius/structural-design-patterns.git
[submodule "behavioral-design-patterns"]
	path = behavioral-design-patterns
	url = git@github.com:rsvinicius/behavioral-design-patterns.git
